div{
    width: 250px;
    height: 250px;
    background-color: red;
    /* margin-left: auto; */
    margin: auto;    
}

div:hover {
    background-color: blue;
    border-radius: 50%;
}

h2:hover {
    color: red;
}

.mido12 {
    text-align: center;

}

/* Text-align: for moving text */
/* margin: for anything other than text  */