/* .I1 {
    color: blue;
    font-size: large;
}

.I2 {
    color: blue;
    font-size: large;
}

.I3 {
    color: blue;
    font-size: large;
} */

.I1 , .I2 , .I3 {
    color: blue;
    font-size: large;
}

/* Grouping = when combining more than one class together to give them the same value, by adding (,) between each class  */


/* /////////////////////////////////////////////////////////////////// */



/* .div10 {
    width: 250px;
    height: 200px;
    border: 2px solid gray;
} */


/* pseudo classes: hover active focus */

/* .div10:hover {
    background-color: green;
}

.a1:active {
    color: greenyellow;
} */

/* .a1:focus {
    color: red;
} */

/* //////////////////////////////////////////////////////////////////// */


/* [type="text"] {
    background-color: green;
} */


/* ////////////////////////////////////////////////////////// */

.div10 {
    width: 250px;
    height: 200px;
    border: 2px solid gray;
}

.title1 {

/* opacity: 0; */
/* visibility: hidden; */
display: none;
}

.div10:hover  .title1{
    /* opacity: 1; */
    /* visibility: visible; */
    display: block;
}


/* ////////////////////////////////////////////////////////// */

#title20 {
    background-color: green;
}


.title10 {
    background-color: red;
}

/* specificity  */

/*       styleinline             id          (class | pseudo class | attr selector)                 element*/

/*            0                   1                        0                                             0       = 100 id*/
/*            0                   0                        1                                             0       = 10 class */
/*            1                   0                        0                                             0       = 1000 */


div div p p p #div10 #div20 .btn3:hover [type="text"] p p p #p7 p p .div4 li li li p .p12 {
    color: green;
}

/* 0 3 5 14 = 364 */


div div p p #p7 #p5 #p3 .btn4:hover [type="password"] .list1 #btn7 li li p .p12 {
    color: red;
}

/* 0 4 5 7 = 457 */