h2 {
    color: white;
    background-color: black;
}

body {
    background-color: rgb(87, 131, 95);
}

button {
    color: blue;
    background-color: black;
    width: 200px;
    height: 50px;
}


/* Lec 2 */

